body{
    display: grid;
    grid-column: 150px 1fr;
    grid-row: 70px 1fr;
    grid-gap: 5px;
}

.main{
    background-color:blue; 
}

.barra{
    display: flex;
     
}

body>.barra{
    grid-column: 1/3;
    grid-row: 1/2; 
}

